.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  div {
    font-size: 3.2rem;
    font-weight: 800;
  }
  img {
    margin: 2rem 0;
    width: 29rem;
    height: 52rem;
  }

  .card {
    display: inline-grid;
    color: white;
    transition: transform 0.3s;
    transform: perspective(800px) rotateY(0deg);
    // transform-style: preserve-3d;
  }

  .isRight {
    transform: perspective(800px) rotateY(180deg);
  }

  .card > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 29rem;
    height: 52rem;
    backface-visibility: hidden;
  }

  .back {
    background-color: rgba(25, 28, 43, 0.7);
    transform: rotateY(180deg);
  }

  .description {
    text-align: center;
    padding: 0 2.4rem;
    font-size: 2.4rem;
    white-space: pre-line;
  }
}
