.header {
  position: relative;
  width: 100%;
}

.header_icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 5rem;
}

.header_icon:first-child {
  margin-right: 1.4rem;
}

.header_title h1 {
  font-size: 2rem;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}