.root{
    width: 100%;
    height: 100vh;
}

.section{
    width:100%;
    height: 30rem;

    position: absolute;
    overflow: hidden;

    top: 50%;
    transform: translateY(-50%);
}

.guide{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    font-size: 1.4rem;
    color: #B2B0B0;

    margin-bottom: 1.5rem;
}