.capsule_notification{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3F4850;
    border-radius: 20rem;

    width: 23.7rem;
    height: 4.2rem;

    font-size: 1.2rem;
    font-weight: 300;

    position: absolute;
    bottom : 3rem;
}