.toast_container {
  position: fixed;

  bottom: 12%;

  font-size: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 84%;
  height: 3.5rem;
  background-color: #202435;
  border-radius: 10rem;
  
  color : white;

  animation: popup 0.5s ease-out forwards;

  z-index: 9998;
}

@keyframes popup {
  0% {
    bottom: -10%;
  }
  100% {
    bottom: 12%;
  } 
}
