.toast {
  position: absolute;
  width: 23rem;
  height: 4rem;
  background-color: #394149;
  text-align: center;
  border-radius: 2rem;
  line-height: 4rem;
  top: 52rem;
  left: 50%;
  transform: translateX(-50%);
}
