.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  position: relative;

  padding: 0;
}

.back {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.nickname {
  font-size: 3.2rem;
  font-weight: 700;
}

.header {
  width: 100%;
  margin-bottom: 2.1rem;
}

.header p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer p {
  font-size: 1.4rem;
  color: #b2b0b0;
  font-weight: 500;

  margin-top: 1.5rem;
}

.carousel_container {
  position: relative;
  overflow: hidden;

  width: 100%;
}

.carousel {
  display: flex;
  align-items: center;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  flex-shrink: 0;

  width: 28.9rem;
  height: 47.9rem;

  margin-right: 1.6rem;

  background-image: url("../../../../public/images/tarot-background.webp");
  background-size: 100% 100%;
  border-radius: 2rem;

  position: relative;
  isolation: isolate;

  transition: background-color 0.5s ease, opacity 0.5s ease;
}

.story::after {
  content: "";
  position: absolute;
  background: black;
  z-index: -1;
  inset: 0;
  opacity: 0.5;

  border-radius: 2rem;

  transition: background-color 0.1s ease, opacity 1s ease;
}

.story_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  font-size: 2rem;

  padding: 2.4rem;

  opacity: 1;
  transition: opacity 1s ease;
}

.story_contents::-webkit-scrollbar {
  display: none;
}

.inactive::after {
  opacity: 0;
}
