.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

.header{
    width: 100%;

}

.header_icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 5rem;
}

.header_icon:first-child{
    margin-right: 1.4rem;
}

.header_title h1{
    font-size: 2rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    width:100%;
    height: 30rem;



    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.guide{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: rem;

    font-size: 1.4rem;
    color: #B2B0B0;
}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 25rem;

    overflow-x: scroll;
}

.card_container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid red;

    margin : 1rem;
}

.card_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;

    width: 32rem;

}

.card{
    width: 12rem;
    height: 20.5rem;

    &.past {
        margin-right: -4rem;
        margin-top: 2rem;
        transform: rotate(-12deg);
        z-index: 1;
    }
    &.current {
        margin-right: -4rem;
        z-index: 2;
    }
    &.future {
        margin-top: 2rem;
        transform: rotate(12deg);
        z-index: 3;
    }
}

.capsule_notification{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3F4850;
    border-radius: 20rem;

    width: 23.7rem;
    height: 4.2rem;

    font-size: 1.2rem;
    font-weight: 300;

    position: absolute;
    bottom : 3rem;
}